#library-body {
  display: flex;
  padding-right: 5px; }
  #library-body #library-side-panel {
    max-width: 240px;
    min-width: 240px;
    border-right: 1px solid #d6dfe6;
    background-color: #fafafa;
    padding: 10px; }
    #library-body #library-side-panel .side-panels {
      position: fixed;
      width: 220px;
      max-height: calc(100% - 70px);
      overflow-y: auto; }
      #library-body #library-side-panel .side-panels h4 {
        text-align: center; }
      #library-body #library-side-panel .side-panels ul {
        padding-left: 5px; }
      #library-body #library-side-panel .side-panels li {
        list-style-type: none; }
      #library-body #library-side-panel .side-panels .side-panel-item label {
        font-weight: normal; }
        #library-body #library-side-panel .side-panels .side-panel-item label:hover {
          color: #cd0a0a; }
  #library-body #library-content {
    padding-left: 5px;
    padding-top: 5px;
    width: 100%; }
    #library-body #library-content #search-wrapper {
      width: 100%; }
      @media screen and (min-width: 768px) {
        #library-body #library-content #search-wrapper #search-input {
          width: 50%;
          margin-left: 50%; } }
      #library-body #library-content #search-wrapper .inner-addon {
        position: relative; }
      #library-body #library-content #search-wrapper .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none; }
      #library-body #library-content #search-wrapper .right-addon .glyphicon {
        right: 0px; }
    #library-body #library-content .gallery {
      margin: 5px;
      padding: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 380px; }
      #library-body #library-content .gallery:hover {
        box-shadow: 0 0 16px #888; }
      #library-body #library-content .gallery .library-book-picture {
        float: left; }
        #library-body #library-content .gallery .library-book-picture .library-picture {
          border: 0;
          width: 100px;
          height: 140px;
          margin-right: 5px;
          margin-bottom: 5px;
          box-shadow: 0 0 16px #888; }
      #library-body #library-content .gallery .library-book-content {
        float: left;
        width: 260px; }
        #library-body #library-content .gallery .library-book-content .vote {
          float: left;
          width: 50%;
          padding: 0 5px;
          margin: 10px 0; }
  @media only screen and (max-width: 659px) {
    #library-body #library-side-panel, #library-body .library-book-description {
      display: none; }
    #library-body .gallery {
      height: 152px; } }
  @media only screen and (min-width: 660px) {
    #library-body .gallery {
      height: 280px; } }
