<div *ngFor="let row of rows" id="{{row.id}}-group" class="row-wrapper">
    <label for="{{row.id}}" class="col-form-label">
        {{row.caption}} <span *ngIf="row.hasOwnProperty('mandatory')" class="mandatory-astrisk">*</span>
    </label>
    <div>
        <input type="{{row.hasOwnProperty('type') ? row.type : 'text'}}"
               id="{{row.id}}" class="form-control input-sm"
               placeholder="{{row.hasOwnProperty('placeholder') ? row.placeholder : ''}}"
               (keypress)="onKeyPress($event.target.id)">
    </div>
    <small id="{{row.id}}-footer" class="row-footer text-danger"></small>
</div>
