<div id="sign-content-section">
    <div class="sign">
        <a href="#" id="close-signing-form" (click)="onClose()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <h3>Password Recovery</h3>
        <div id="sign-wrap">
            <credentials-row
                [rows]="rows">

            </credentials-row>
        </div>

        <a href="#" class="btn btn-primary btn-md btn-block"
                (click)="onPasswordChange()">
            Recovery Password
        </a>
        <small id="sign-footer" class="text-danger"></small>
    </div>
</div>
