<div *ngIf="isPasswordRecovery" id="sign-content-section">
    <div class="sign">
        <a href="#" id="close-signing-form" (click)="onClose()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <h3>Password Recovery</h3>
        <ul class="nav nav-tabs">
          <li class="active recovery-tab">
                <a data-toggle="tab" href="#by-email" (click)="onTabClick('by-email')">By Email</a>
          </li>
          <li class="recovery-tab">
                <a data-toggle="tab" href="#by-question" (click)="onTabClick('by-question')">By Question</a>
          </li>
        </ul>
        <div *ngIf="recoverByEmail" id="by-email" class="sign-wrap tab-pane">
            <credentials-row
                [rows]="byEmailRows">

            </credentials-row>
        </div>
        <div *ngIf="recoverByQuestion" id="by-question" class="sign-wrap tab-pane">

            <credentials-row *ngIf="submitCaption == 'Get Question'"
                [rows]="byUsernameRows">

            </credentials-row>

            <credentials-row *ngIf="submitCaption == 'Reset Password'"
                [rows]="passwordResetRows">

            </credentials-row>
        </div>

        <a href="#" class="btn btn-primary btn-sm btn-block"
                (click)="onSubmit()">
            {{submitCaption}}
        </a>
        <small id="sign-footer" class="text-danger"></small>
    </div>
</div>
