$bootstrap-monitor-window-min-width: 768px;

#search-wrapper {

    z-index: 100;
    position: fixed;
    margin-left: 60%;
    width: 40%;
    padding: 5px;
    opacity: 0.7;

    &:hover {
        opacity: 0.9;
    }

    @media screen and (min-width: $bootstrap-monitor-window-min-width) {

        #search-input {
            width: 100%;
        }
    }

    .inner-addon {
        position: relative;
    }

    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

    .right-addon {

        .glyphicon {
            right: 0px;
        }
    }
}