<div id="{{gridInfo.gridID}}-wrapper">
    <div id="book-grid" class="upload-log-grid">
        <ag-grid
            [data]="gridInfo">
        </ag-grid>

        <button class="btn btn-success" (click)="onAddBook()">Add Book</button>
    </div>

    <div *ngFor="let chart of charts" class="charts">
        <div id="{{chart.id}}">
            <h3 class="chart-caption">{{chart.title}}</h3>
            <pie-chart *ngIf="chart.id != 'books-chart'"
                [pieChartData]="chart.data"
                [pieChartLabels]="chart.labels">

            </pie-chart>

            <bar-chart *ngIf="chart.id == 'books-chart'"
                [barChartData]="chart.data"
                [barChartLabels]="chart.labels">

            </bar-chart>
        </div>
    </div>
    <div class="clear-float-left">
    </div>

    <div class="download-report">
        <a href="#" (click)="downloadPDF()">
            <img class="download-pdf">
        </a>
    </div>

    <add-popup *ngIf="showAddPopup"
        [addPopupInfo]="addPopupInfo"
        [(addPopupStatus)]="showAddPopup">

    </add-popup>
</div>

