.charts {
  float: left; }
  .charts .chart-caption {
    text-align: center; }

#authors-chart, #genres-chart {
  width: 350px;
  height: 400px; }

#books-rating-chart, #books-downloads-chart {
  width: 1000px;
  height: 550px; }
  @media only screen and (max-width: 1000px) {
    #books-rating-chart, #books-downloads-chart {
      display: none; } }
