<div id="quiz">
    <div>
        <div *ngFor="let quizType of quizTypes" class="quiz-type">
            <h3 class="caption">{{quizType}}</h3>

            <div *ngFor="let item of quizQuestions" class="questions">
               <div *ngIf="item.type == quizType">
                    <strong>{{item.question}}</strong>
                    <div *ngFor="let answer of item.answers">
                        <input type="checkbox" id="{{item.question_id}}-{{answer.id}}"
                               class="quiz-answers"
                               attr.data-question="{{item.question_id}}" attr.data-answer="{{answer.id}}"
                               (click)="onSelect($event.target.id)">
                        <label class="answer" id="{{item.question_id}}-{{answer.id}}-label"
                               for="{{item.question_id}}-{{answer.id}}">
                            {{answer.answer}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear-float-left">
    </div>
    <button type="button" id="submit" class="btn btn-info" (click)="onSubmit()">
        Submit
    </button>
</div>
