#footer {
	width: 100%;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
	border-top: 1px solid #cd0a0a;
	color: White;
	display: inline-block;
	min-height: 50px;
    opacity: 1;
    background: LightGrey; /* Old browsers */
    background: -moz-linear-gradient(-20deg, LightGrey, White); /* FF3.6-15 */
    background: -webkit-linear-gradient(-20deg, LightGrey, White); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(160deg, LightGrey, White); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    ul {
      list-style-type: none;
    }

    .logo {
        margin: 10px 5px;
    }

    .square-logo {
        width: 25px;
        height: 25px;
    }

    .logo-narrow {
        width: 18px;
        height: 25px;
    }

    .logo-wide {
        width: 35px;
        height: 25px;
    }
}

