<div *ngIf="isFooter" id="footer">
    <ul>
        <li *ngFor="let skills of skillList">
            <a *ngFor="let skill of skills.skills" href="{{skill.link}}"
               data-toggle="tooltip" data-placement="top" title="{{skill['tool-tip']}}"
               target="_blank">
                <img src="/images/logos/{{skill.logo}}.png" alt="{{skill.logo}}"
                     class="logo {{skill.hasOwnProperty('class') ? skill.class : 'square-logo'}}">
                <img>
            </a>
        </li>
    </ul>
</div>