.charts {
    float: left;
}

.chart-caption {
    text-align: center;
}

#report {
	padding-bottom: 30px;
	padding-left: 20px;
	min-height: calc(100vh - 100px);
	width: 100%;
    overflow-y: auto;
	overflow-x: hidden;
}

#back-to-quiz {
    margin-top: 10px;
}