#header {
	background-color: #003cb3;
	border-bottom: 1px solid #cd0a0a;
	width: 100%;
	height: 50px;
	padding-top: 5px;
	color: white;
}

.header-logo-block {
    padding-top: 20px;
}

.logo-block img {
    max-width: 100%;
    height: auto;
}

#header-library-logo-container {
	position: absolute;
	left: 7%;
}

#header-library-logo-text {
    margin-top: 10px;
    font-weight: 500;
	font-size: 16px;
}

.header-right-side {
	position: absolute;
	right: 130px;
	width: auto;
	display: inline-block;
}

.header-menu-link {
    margin: 0px 10px 0px 10px;
}

.header-right-side > a > img {
	height: 28px;
	width: 28px;
	transform: translate(0px, 20%);
	-webkit-transform: translate(0px, 20%);
	-moz-transform: translate(0px, 20%);
}
