<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
        </ul>
        <ul *ngIf="! isSignedIn" class="nav navbar-nav navbar-right">
            <li>
                <a href="#" (click)="onSignUp()">
                    <span class="glyphicon glyphicon-user"></span> Sign Up
                </a>
            </li>
            <li>
                <a href="#" (click)="onSignIn()">
                    <span class="glyphicon glyphicon-log-in"></span> Sign In
                </a>
            </li>
        </ul>
        <ul *ngIf="isSignedIn" class="nav navbar-nav navbar-right">
            <li>
                <a href="#" (click)="onPasswordReset()">
                    <span class="glyphicon glyphicon-lock"></span> Password Reset
                </a>
            </li>
            <li>
                <a href="#" (click)="onSignOut()">
                    <span class="glyphicon glyphicon-log-out"></span> Sign Out
                </a>
            </li>
        </ul>
    </div>
</nav>
