<nav *ngIf="isHeader" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li id="library-dropdown" class="dropdown"
                (mouseenter)="mouseEnter($event.target)"
                (mouseleave)="mouseLeave($event.target)">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Library <b class="caret"></b>
                </a>
                <ul class="nav dropdown-menu" role="menu">
                    <li><a href="#" routerLink="library/genre" routerLinkActive="active">Genres</a></li>
                    <li><a href="#" routerLink="library/author" routerLinkActive="active">Authors</a></li>
                    <li><a href="#">Books</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Reports</a></li>
                </ul>
            </li>
            <li><a href="#" (click)="onResumeDownload()">Download</a></li>
        </ul>
        <ul *ngIf="! isSignedIn" class="nav navbar-nav navbar-right">
            <li *ngFor="let item of signMenu['signedOut']">
                <a href="#" (click)="onClick(item.caption)">
                    <span class="glyphicon glyphicon-{{item.glyphicon}}"></span>
                    {{item.caption}}
                </a>
            </li>
        </ul>
        <ul *ngIf="isSignedIn" class="nav navbar-nav navbar-right">
            <li>
                <div class="navbar-text">Hello, {{userHomeName}}</div>
            </li>
            <li *ngFor="let item of signMenu['signedIn']">
                <a href="#" (click)="onClick(item.caption)">
                    <span class="glyphicon glyphicon-{{item.glyphicon}}"></span>
                    {{item.caption}}
                </a>
            </li>
        </ul>
    </div>
</nav>
