#page-not-found {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh; }
  #page-not-found #page-not-found-image {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
