#home-content-section {
	padding-bottom: 30px;
	min-height: calc(100vh - 100px);
	width: 100%;
	text-align: center;
    overflow-y: auto;
	overflow-x: hidden;
}

#greetings-wrapper {
    display: table;
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.greeting {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 5px;
    vertical-align: middle;
    font-size: 3vw;
}

ul {
  list-style-type: none;
}

#git-hub, #languages {
    padding: 10px 5px;
}

#git-hub ul, #git-hub h5, #languages ul, #languages h5 {
    text-align: left;
}