#home-content-section {
  padding-bottom: 30px;
  min-height: calc(100vh - 100px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; }
  #home-content-section #languages-wrapper * {
    text-align: left; }
  #home-content-section #languages-wrapper #languages-content h4 {
    margin-left: 10px; }
  #home-content-section #languages-wrapper #languages-content h5 {
    margin-left: 5px; }
  #home-content-section #languages-wrapper #languages-content ul {
    list-style-type: none; }
  #home-content-section #greeting-carousel {
    text-align: center;
    height: 60px;
    line-height: 40px; }
    #home-content-section #greeting-carousel .carousel-inner .item {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 4s;
      transition-timing-function: linear; }
    #home-content-section #greeting-carousel .carousel-inner .active {
      opacity: 1; }
  #home-content-section #top-books-wrapper {
    height: 165px; }
    #home-content-section #top-books-wrapper h4 {
      text-align: center;
      margin-top: 0; }
    #home-content-section #top-books-wrapper #top-books-content .top-books-picture {
      width: 60px;
      height: 120px;
      float: left; }
    #home-content-section #top-books-wrapper #top-books-content .book-rating {
      margin-top: 5px;
      width: 50px;
      text-align: center; }
    #home-content-section #top-books-wrapper #top-books-content .book-rating-value {
      width: 50px;
      text-align: center;
      color: #218838; }
  #home-content-section #git-hub {
    width: 100%;
    background: LightGrey;
    padding: 10px;
    margin: 10px 0px; }
    @media only screen and (max-width: 389px) {
      #home-content-section #git-hub {
        height: 140px; } }
    @media only screen and (min-width: 390px) {
      #home-content-section #git-hub {
        height: 120px; } }
  #home-content-section .block-wrapper {
    position: relative;
    margin: 10px;
    padding: 10px 5px; }
  @media only screen and (max-width: 359px) {
    #home-content-section #greeting-carousel {
      height: 40px;
      font-size: 0.8em; } }
  @media only screen and (min-width: 360px) and (max-width: 399px) {
    #home-content-section #greeting-carousel {
      padding-top: 5px;
      height: 50px;
      font-size: .9em; } }
  @media only screen and (min-width: 400px) and (max-width: 639px) {
    #home-content-section #greeting-carousel {
      padding-top: 10px;
      height: 60px;
      font-size: 1em; } }
  @media only screen and (min-width: 640px) {
    #home-content-section #greeting-carousel {
      padding-top: 20px;
      height: 80px;
      font-size: 1.5em; } }
  @media only screen and (max-width: 499px) {
    #home-content-section .top-books-content {
      width: calc(100% - 60px);
      height: 110px;
      float: left; }
    #home-content-section .top-books-description {
      visibility: hidden;
      width: 0;
      height: 110px;
      float: left; } }
  @media only screen and (min-width: 500px) {
    #home-content-section .top-books-content {
      width: calc(30% - 30px);
      height: 110px;
      float: left; }
    #home-content-section .top-books-description {
      visibility: visible;
      width: calc(70% - 30px);
      height: 110px;
      float: left; } }
  @media only screen and (max-width: 499px) {
    #home-content-section .top-books-content {
      font-size: 1.2em; } }
  @media only screen and (min-width: 500px) and (max-width: 699px) {
    #home-content-section .top-books-content {
      font-size: 1em; }
    #home-content-section .top-books-description {
      font-size: 0.9em; } }
  @media only screen and (min-width: 700px) {
    #home-content-section .top-books-content {
      font-size: 1.2em; }
    #home-content-section .top-books-description {
      font-size: 1.2em; } }
