#home-content-section {

    %content-text {
        text-align: left;
    }

    %content-h4 {
        margin-left: 10px;
    }

    %content-h5 {
        margin-left: 5px;
    }

    %content-ul {
        list-style-type: none;
    }

	padding-bottom: 30px;
	min-height: calc(100vh - 100px);
	width: 100%;
    overflow-y: auto;
	overflow-x: hidden;

    #greeting-carousel {

        text-align: center;
        height: 60px;
        line-height: 40px;

        .carousel-inner {
            .item {
                opacity: 0;
                transition-property: opacity;
                transition-duration: 4s;
                transition-timing-function: linear;
            }

            .active {
                opacity: 1;
            }
        }
    }

    #top-books-wrapper {

        height: 165px;

        h4 {
            text-align: center;
            margin-top: 0;
        }

        #top-books-content {

            .top-books-picture {
                width: 60px;
                height: 120px;
                float: left;
            }

            .book-rating {
                margin-top: 5px;
                width: 50px;
                text-align: center;
            }

            .book-rating-value {
                width: 50px;
                text-align: center;
                color: #218838;
            }
        }
    }

    #git-hub {

        width: 100%;
        background: LightGrey;
        padding: 10px;
        margin: 10px 0px;

        @media only screen and (max-width: 389px) {
            & {
                height: 140px;
            }
        }

        @media only screen and (min-width: 390px) {
            & {
                height: 120px;
            }
        }
    }

    #languages-wrapper {

        * {
            @extend %content-text;
        }

        #languages-content {

            h4 {
                @extend %content-h4;
            }

            h5 {
                @extend %content-h5;
            }

            ul {
                @extend %content-ul;
            }
        }
    }

    .block-wrapper {
        position: relative;
        margin: 10px;
        padding: 10px 5px;
    }

    @media only screen and (max-width: 359px) {
        #greeting-carousel {
            height: 40px;
            font-size: 0.8em;
        }
    }

    @media only screen and (min-width: 360px) and (max-width: 399px) {
        #greeting-carousel {
            padding-top: 5px;
            height: 50px;
            font-size: .9em;
        }
    }

    @media only screen and (min-width: 400px) and (max-width: 639px) {
        #greeting-carousel {
            padding-top: 10px;
            height: 60px;
            font-size: 1em;
        }
    }

    @media only screen and (min-width: 640px) {
        #greeting-carousel {
            padding-top: 20px;
            height: 80px;
            font-size: 1.5em;
        }
    }

    @media only screen and (max-width: 499px) {

        .top-books-content {
            width: calc(100% - 60px);
            height: 110px;
            float: left;
        }

        .top-books-description {
            visibility: hidden;
            width: 0;
            height: 110px;
            float: left;
        }
    }

    @media only screen and (min-width: 500px) {

        .top-books-content {
            width: calc(30% - 30px);
            height: 110px;
            float: left;
        }

        .top-books-description {
            visibility: visible;
            width: calc(70% - 30px);
            height: 110px;
            float: left;
        }
    }

    @media only screen and (max-width: 499px) {

        .top-books-content {
            font-size: 1.2em;
        }
    }

    @media only screen and (min-width: 500px) and (max-width: 699px) {

        .top-books-content {
            font-size: 1em;
        }

        .top-books-description {
            font-size: 0.9em;
        }
    }

    @media only screen and (min-width: 700px) {

        .top-books-content {
            font-size: 1.2em;
        }

        .top-books-description {
            font-size: 1.2em;
        }
    }
}