<div id="home-content-section">
    <div id="greeting-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let greeting of greetings; let index=index"
                class="item {{index==1 ? 'active' : ''}}">
                {{greeting}}
            </div>
        </div>
    </div>

    <div *ngIf="topBooks.length" id="top-books-wrapper" class="container">
        <h4>Top {{topBooksAmount}} books</h4>
        <div id="top-5-books-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let book of topBooks; let index=index"
                    id="top-books-content"
                    class="item top-books {{index==1 ? 'active' : ''}}">
                    <div class="top-books-picture">
                        <a href="#" (click)="onBookImageClick($event.target.dataset)">
                            <img class="table-picture"
                                 src="{{urlRoot}}/storage/{{book.picture}}"
                                 attr.data-title="{{book.title}}"
                                 attr.data-source="{{book.source}}">
                        </a>
                        <div class="book-rating">Rating</div>
                        <div class="book-rating-value">{{book.rating ? book.rating : "-"}}</div>
                    </div>
                    <div class="top-books-content">
                        {{book.title}}<br>
                        by {{book.author}}<br>
                        length: {{book.length}}
                    </div>
                    <div class="top-books-description">
                        {{book.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="git-hub">
        <div id="git-hub-content">
            <h4>GitHub</h4>
            <ul>
                <li>Back End - <a href="https://github.com/mvm1978/mvm" target="_blank">https://github.com/mvm1978/mvm</a></li>
                <li>Authorization - <a href="https://github.com/mvm1978/jwt" target="_blank">https://github.com/mvm1978/jwt</a></li>
                <li>Front End - <a href="https://github.com/mvm1978/front-end" target="_blank">https://github.com/mvm1978/front-end</a></li>
            </ul>
        </div>
    </div>

    <div id="languages-wrapper" class="block-wrapper">
        <div id="languages-content">
            <h4>Used Languages, Frameworks and Libraries</h4>
            <h5>Back End:</h5>
            <ul>
                <li>PHP 7.0</li>
                <li>Laravel 5.4</li>
            </ul>
            <h5>Front End:</h5>
            <ul>
                <li>Javascript</li>
                <li>Typescript</li>
                <li>Angular 4.4</li>
                <li>jQuery 3.2</li>
                <li>Bootstrap 3</li>
            </ul>
            <h5>Database:</h5>
            <ul>
                <li>MySQL 5.7</li>
            </ul>
            <h5>Server:</h5>
            <ul>
                <li>Apache/2.4.18 (Ubuntu)</li>
            </ul>
        </div>
    </div>

</div>